{% extends 'base.html' %}
{% block title %}Logged out!!{% endblock %}
{% block name %}Logged out!!{% endblock %}
{% block submit %}{% endblock %}
{% block register %}
<p class="text-monospace text-center">
  <a id="login" href="{% url 'login' %}">Click here to login again</a>
</p>
{% endblock %}