{% extends 'base.html' %}
{% block title %}Success{% endblock %}
{% block name %}Success{% endblock %}
{% block register %}{% endblock %}
{% block form %}
<p class="text-monospace text-center">Password reset completed.</p>
<p class="text-monospace text-center">
  <a id="login" href="{% url 'login' %}">Click here to login.</a>
</p>
{% endblock %}
