{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}
{% block name %}Reset password{% endblock %}
{% block register %}{% endblock %}

{% block auth %}
{% if not validlink %}
<p class="text-monospace text-center">The password reset link was invalid.</p>
<p class="text-monospace text-center">
  <a id="login" href="{% url 'login' %}">Click here to login.</a>
</p>
{% endif %}
{% endblock %}