{% extends 'base.html' %}
{% block title %}Success{% endblock %}
{% block name %}Success{% endblock %}
{% block register %}{% endblock %}
{% block form %}
<p class="text-monospace text-center">Check your inbox.</p>
<p class="text-monospace text-center">We've emailed you instructions for setting your password.</p>
<p class="text-monospace text-center">You should receive the email shortly!</p>
<p class="text-monospace text-center">
  <a id="login" href="{% url 'login' %}">Click here to login.</a>
</p>
{% endblock %}
