{% extends "rest_framework/base.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="icon" type="image/png" href="{% static 'icon.png' %}"/>
{% endblock %}

{% block bootstrap_theme %}
  <!-- <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.css"> -->
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css">
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
  <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-static-top navbar-expand-lg navbar-dark bg-dark p-1" style="margin-bottom: 15px;">
  <div class="container-fluid">
    <span>
      <a class="navbar-brand text-white" href='/'>
        <img src="{% static 'user.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user|capfirst  }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
            <a class="dropdown-item" href="{% url 'password_reset' %}">Reset password</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'submit:submits' %}">Submits</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'user:users' %}">Users</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}