{% load tz %}
{% load static %}
{% timezone "Asia/Taipei" %}

<!DOCTYPE html>
<html>
  <head>
  {% block head %}
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    {% block style %}
      {% block bootstrap_theme %}
        <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css">
        <link rel="icon" type="image/png" href="{% static 'icon.png' %}"/>
      {% endblock %}
    {% endblock %}
  {% endblock %}
  </head>

  {% block body %}
  <body class="" data-new-gr-c-s-check-loaded="14.983.0">
  <div class="wrapper">
    {% block navbar %}
    <div class="navbar navbar-static-top navbar-expand-lg navbar-dark bg-dark p-1" style="margin-bottom: 15px;">
      <div class="container-fluid">
        <span>
          <a class="navbar-brand text-white" href="/">
            <img src="/static/user.png" width="30" height="30" class="d-inline-block align-top" alt="">
          </a>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user|capfirst  }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/accounts/logout/">Logout</a>
                <a class="dropdown-item" href="/accounts/register/">Register</a>
                <a class="dropdown-item" href="/accounts/password_change/">Change password</a>
                <a class="dropdown-item" href="/accounts/password_reset/">Reset password</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/submit/api/submits/">Submits</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/api/users/">Users</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}

    <div class="container">
      <div id="content" role="main" aria-label="content">
        {% block content %}
          {% block auth %}
          {% endblock %}
          <div class="container">
            <img class="mb-4 rounded mx-auto d-block" src="{% static 'icon.png' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal text-center">
              {% block name %}
              {% endblock %}
            </h1>
          </div>
          {% block form %}
          <form class="form-signin" method="post" novalidate>
            {% csrf_token %}
            {% include 'form.html' with form=form %}
            {% block submit %}
              <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            {% endblock %}
            {% block register %}
            <p class="text-center text-monospace">
              <a id="register" href="/accounts/register">Signup Now</a>
            </p>
            {% endblock %}
          </form>
          {% endblock %}
          {% now "jS F Y H:i" as timestamp %}
          <p class="mt-5 mb-3 text-muted text-center text-monospace">{{ timestamp }}</p>
        {% endblock %}
      </div>
    </div>
  </div>

  {% block script %}
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
  <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://bootswatch.com/_assets/js/custom.js"></script>
  {% endblock %}

  </body>
  {% endblock %}
</html>
{% endtimezone %}
